// Utils
@import './utils/variables';
@import './utils/visually-hidden';
@import './utils/placeholders';

// Base
@import './base/reset';
@import './base/common';
@import './base/card-set';

// Components
@import './components/button';
@import './components/logo';
@import './components/social-link';
@import './components/header';
@import './components/nav';
@import './components/hero';
@import './components/section/features';
@import './components/section/work';
@import './components/section/team';
@import './components/section/client';
@import './components/footer';
@import './components/form/mail-form';
@import './components/backdrop';
@import './components/order-modal';
@import './components/form/order-form';
@import './components/portfolio';
@import './components/projects';