// Btn primary
.btn-primary {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    min-width: 200px;
    min-height: 50px;
    padding-top: 10px;
    padding-bottom: 10px;

    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;

    cursor: pointer;

    border: 0;
    border-radius: 4px;
    background-color: var(--accent-color);
    color: var(--primary-white-color);

    transition: box-shadow var(--duration-timing);

    &:hover,
    &:focus {
        box-shadow: var(--btn-box-shadow);
    }
}

// Btn secondary
.btn-secondary {
    padding: 6px 22px;

    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    letter-spacing: inherit;

    cursor: pointer;

    border: 0;
    border-radius: 4px;
    background-color: var(--secondary-bg-color);
    color: var(--title-text-color);

    transition: color var(--duration-timing), background-color var(--duration-timing), box-shadow var(--duration-timing);

    &:hover,
    &:focus {
        background-color: var(--accent-color);
        color: var(--primary-white-color);
    
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    }

    &--current {
        background-color: var(--accent-color);
        color: var(--primary-white-color);
    }
}

// Close btn
.close-btn {
    position: absolute;
    top: 8px;
    right: 8px;

    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    padding: 0;

    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    background-color: var(--primary-white-color);

    cursor: pointer;
}


.close-btn__icon {
    display: flex;
    align-items: center;
    justify-content: center;

    transition: fill var(--duration-timing);

    .close-btn:hover &,
    .close-btn:focus & {
        fill: var(--accent-color);
    }
}
