// Pages navigation
.nav__list {
    @extend %list;

    display: flex;
    align-items: center;
    gap: 50px;
}

.nav__link {
    position: relative;
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    color: var(--title-text-color);

    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;

    transition: color var(--duration-timing);

    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}

.nav__link--current {
    color: var(--accent-color);

    &::after {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        bottom: -1px;
    
        width: 100%;
        height: 4px;
        border-radius: 2px;
    
        background-color: currentColor;
    }
}