.work {
    @extend %section;
    
    padding-top: 0;
}

.work__list {
    @extend %list;
}

.work__item {
    position: relative;
}

.work__subtitle {
    @extend %subtitle;
    
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 2;

    width: 370px;
    margin-bottom: 0;
    padding-top: 27px;
    padding-bottom: 27px;

    font-weight: 700;
    text-align: center;


    color: var(--primary-white-color);
    background-color: var(--caption-bg-color);
}