%list {
  margin: 0;
  padding: 0;
  list-style: none;
}

%section {
  padding-top: 60px;
  padding-bottom: 60px;
}

%subtitle {
  margin-bottom: 10px;

  line-height: 1.14;
  text-transform: uppercase;
}
